* {
    font-size: 20px;
    font-family: Arial, sans-serif;
}


/* ---------------------------------------INDEX STYLES------------------------------------------------- */

.index-body {
    background-image: url(BaMu-Hospital.png);
    font-family: Arial, sans-serif;
    background-color: #e9f0f5;
    margin: 0;
    padding: 0;
}

.index-header {
    background-color: #007bff88;
    color: white;
    padding: 5px;
    text-align: center;
}

.index-main {
    max-width: 800px;
    margin: 145px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.863);
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.index-header-h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.index-main-h2 {
    text-align: center;
}

.index-main p {
    font-size: 18px;
    line-height: 1.6;
}

.index-main-btn {
    display: inline-block;
    margin-top: 30px;
    padding: 12px 25px;
    background-color: #007bff91;
    color: white;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
    margin-left: 195px;
    transition: background-color 0.3s;
}

.index-main-btn:hover {
    background-color: #218838;
}

/* --------------------------------------------------------COVID-FORM STYLES---------------------------------------- */

.from-body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: url('form.png') no-repeat center center fixed;
    background-size: cover;
    /* cover full screen */
}

.head-heading {
    text-align: center;
    color: #2c3e50;
    margin-top: 20px;
    font-size: 62px;
}

.overall-container {
    margin: 20px auto;
    background-color: #ffffffc9;
    width: 500px;
    padding: 27px;
    border-radius: 13px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

.Personal-details-h3,
h3 {
    text-align: center;
    font-size: 24px;
    color: #34495e;
    margin-bottom: 15px;
}

.form-group {
    line-height: 1.8;
    margin-bottom: 15px;
}

input[type="text"],
input[type="tel"],
input[type="number"],
input[type="date"],
textarea,
#BloodGroup {
    width: 450px;
    padding: 10px;
    border: 1px solid #bdc3c7;
    border-radius: 6px;
    outline: none;
    transition: 0.3s;
}

#BloodGroup {
    width: 470px;
}

input:focus,
textarea:focus,
select:focus {
    border-color: #3498db;
    box-shadow: 0 0 8px rgba(52, 152, 219, 0.6);
}

button {
    width: 31%;
    padding: 12px;
    border: none;
    background: #3498db;
    color: white;
    font-size: 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #2980b9;
}


.covid-form-footer {
    text-align: center;
    height: 480px;
    padding: 36px;
    background: #d3d7d8b9;
    font-size: 1rem;
}




.footer-logo a p {
    margin-top: 150px;
    float: left;
    font-size: 40px;
    font-family: "Bree Serif", serif;
    transition: transform 0.3s ease;
}

.footer-logo a p:hover {
    transform: scale(1.1);
}

.contact-info {
    margin-right: 615px;
    margin-top: 105px;
    color: rgba(0, 0, 0, 0.74);
}

.social-links {
    margin: 20px;
    margin-left: -110px;
    display: flex;
    gap: 15px;
    justify-content: center;
}

.social-links a i {
    font-size: 36px;
    margin: 0 10px;
    color: #3498db;
    transition: transform 0.3s ease;
    display: inline-block;
}

.social-links a:hover {
    transform: translateY(-8px) scale(1.1);
}


.social-links a:hover .bi.bi-twitter-x {
    color: #0c0c0c;
}


.social-links a:hover .fab.fa-instagram {
    color: #e4405f;
}


.social-links a:hover .fab.fa-facebook {
    color: #1877f2;
}

.social-links a:hover .fas.fa-envelope {
    color: #e74c3c;
}

iframe {
    float: right;
    margin-top: -270px;
}

.footer-footer {
    margin-top: 200PX;
    color: rgba(0, 0, 0, 0.74);
}